.fiche-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    @media (width > 800px) {
        gap: 25px;
    }
    
    details {
        flex: 1;
    }
}

.middle-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    @media (width > 800px) {
        flex-direction: row;
        gap: 24px;
    }

    .host-infos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (width > 800px) {
            flex-direction: column-reverse;
        }
    }
}

.dropdowns {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @media (width > 800px) {
        flex-direction: row;
        gap: 70px;
    }
}

h3 {
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    @media (width > 800px) {
        font-size: 36px;
        margin: unset;
    }
}

p {
    font-weight: 500;
    font-size: 14px;
    @media (width > 800px) {
        font-size: 18px;
    }
}