.caroussel {
    display: grid;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    @media (width > 800px) {
        border-radius: 25px;
    }

    img {
        z-index: -1;
        grid-area: 1 / 1;
        object-fit: cover;
        width: 100%;
        height: 255px;
        @media (width > 800px) {
            height: 415px;
        }
    }

    .controls {
        grid-area: 1 / 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        p{
            align-self: end;
            color: #FFFFFF;
            font-size: 24px;
            margin: 24px;
        }

        button {
            cursor: pointer;
            border: unset;
            background-color: unset;
            width: 24px;
            height: 24px;
            
            @media (width > 800px) {
                width: 47px;
                height: 79px;
                
            }
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }


}