footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-size: 12px;
    color: white;
    background-color: black;
    @media (width > 800px) {
        font-size: 24px;
    }
    img {
        width: 122px;
        margin-top: 66px;
    }
    .footer--content {
        display: flex;
        flex-direction: column;
        margin: 29px 0;
        @media (width > 800px) {
            flex-direction: row;
        }
        span {
            margin: 0 0.1em;
        }
    }
}
