main {
    flex: 2;
    display: grid;
    gap: 20px;
    @media (width > 800px) {
        grid-template-columns: repeat(auto-fill, minmax( 340px, 1fr));;
        gap: 50px;
        background-color: #F6F6F6;
        padding: 50px;
        border-radius: 25px;
    }
    a {
        text-decoration: none;
    }
}