header {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    img {
        max-height: 46px;
        @media (width > 800px) {
            max-height: unset;
        }
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
        width: 100%;
        max-width: 150px;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        white-space: nowrap;
        @media (width > 800px) {
            font-size: 24px;
            max-width: 300px;
        }
    }
    a {
        color: black;
        &:not(.active) {
            text-decoration:none
        }
    }
}
