html,
body {
  height: 100%;
  margin: unset;
}

:root {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

h1 {
  font-size: 24px;
  font-weight: 700;

  @media (width > 800px) {
    font-size: 48px;
  }
}

h2 {
  font-size: 18px;
  font-weight: 700;
  margin: unset;
  line-height: 1.75;
}
